.mail-field{
	min-width: 300px;
	display: none;
	position: fixed;
	top: 14%;
	left: 26%;
	width: 45%;
	height: 35rem;
	background-color: whitesmoke;
	z-index: 3;
	padding: 1%;
}

.mail-field div{
	margin-top: 0.7rem
}

.mail{
	cursor: pointer;
}

#close{
    outline: none;
}

input{
	width: 85%;
	padding-left: 1%;
	margin: 0.5rem;
}
.btn-send{
	width: 13%;
	float: right;
	margin-right: 4%;
}
textarea{
	height: 20vh;
	resize: none;
	width: 95%;
}
.bg-blur{
    position: absolute;
    top: 0;
    display: none;
	width: 100%;
	height: 100vh;
	z-index: 2;
	background-color: rgba(0,0,0, 0.5);
}
.email-success-msg{
	position: fixed;
    left: 50%;
    top: 25%;
    width: 19%;
    height: 10%;
    padding: 1%;
    font-size: 1.7rem;
    border-radius: 7px;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    animation: disapear 4s 1;
	display: none;
}

@keyframes disapear{

	0%{
		background-color: rgba(0,0,0,0.1);
	}

	15%{
		   background-color: rgba(0,0,0,0.3);
	}

	30%{
		   background-color: rgba(0,0,0,0.5);
	}

	50%{
		   background-color: rgba(0,0,0,0.7);
	}

	75%{
		   background-color: rgba(0,0,0,0.5);
	}

	85%{
		   background-color: rgba(0,0,0,0.3);
	}

	95%{
		   background-color: rgba(0,0,0,0.1);
	}

	100%{
		   background-color: rgba(0,0,0,0.0);
	}
}